{{!layer/header}}
<h1>Approval</h1>
<textarea id="content"></textarea>
<button id="btn">버튼</button>
{{{docs}}}
<script>
    let textareaBtn = document.getElementById("btn");

    textareaBtn.addEventListener("click", function (e) {
        let data = document.getElementById("content").value;
        fetchingData(data);
    });

    function fetchingData(data) {
        fetch("/api/document", {
            method: "POST",
            headers: {
               "Content-Type": "application/json"
            },
            body: data,
        })
        .then(response => console.log(response));
    }
</script>
<script src="{{js}}"></script>
{{!layer/footer}}
